{{#if addNewAnswer}}
<h3>Contribute an Answer</h3>

<form class="new-answer">
  <div class="form-group">
    <label for="author">Author</label>
    {{input value=author id="author"}}
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    {{input value=content id="content"}}
  </div>
  <button {{action 'saveAnswer'}}>Contribute</button>
</form>
{{else}}
<button {{action 'answerFormShow'}}>Add New Answer</button>
{{/if}}
