<div class="question">
  <h4>Q: {{question.title}}</h4>
  <p>Author: {{question.author}}</p>
  <p>Content: {{question.content}}</p>
  <p>Addt'l Notes: {{question.addtl}}</p>
</div>

<button {{action 'destroyQuestion1' question}}>Delete</button>
